<header class="fixed top-0 w-full bg-[#0a192f]/90 backdrop-blur-sm z-50 px-6 py-4 border-b border-blue-900/40">
    <nav class="max-w-7xl mx-auto flex items-center justify-between">
      <div class="flex items-center gap-2">
        <div class="w-10 h-10 bg-blue-500 rounded-lg flex items-center justify-center">
          <span class="text-white font-bold">CB</span>
        </div>
        <span class="text-white font-semibold text-xl">Cyber Blockz</span>
      </div>

      <ul class="flex items-center gap-8">
        <li><a class="text-gray-300 hover:text-blue-400 transition" routerLink="/home">Courses</a></li>
        <li><a class="text-gray-300 hover:text-blue-400 transition">About</a></li>
        <li><a class="text-gray-300 hover:text-blue-400 transition">Contact</a></li>
      </ul>
    </nav>
  </header>
<router-outlet></router-outlet>